################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TodoApi/TodoApi/obj
/TodoApi/.vs/TodoApi/v16
